@font-face {
    font-family: roboto;
    src: url(./fonts/Roboto-VariableFont_wdth\,wght.ttf);
}


body{
    font-family: roboto, sans-serif;
    margin: 0;padding: 0;
}

.page{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height:100vh ;
}
.body{
    display: flex;
    flex-direction: column;
}
h1,h2,h3,h4,p{margin: 0;padding: 0;}

 .header,
 .footer,
 .hero{
    display: flex;
    background-color:#1F2937 ;
    align-items: center;
 }
 .header,
 .footer {
        padding:16px 80px;
        height: 25px;
 }
 .header,
 .hero{
    justify-content: space-between;
 }
.header,.hero,.call,.footer{
    color:white;
}
.hero, .information{
    padding: 60px 80px;
}
/*header*/
a{
    text-decoration: none;
    color: white;
}
.logo{
    font-size: 24px;
    color:#F9FAF8;
}
ul{
    margin:0;
    list-style-type: none;
    display: flex;
    gap: 16px;
}

/*hero*/
img{
    height: 200px;
    width: auto;
}
.main{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.sub{
    font-size: 18px;
    color: #E5E7EB;
}
.left{
    width: 50%;
}

button{
    margin: 16px auto;
    background-color: #3882F6;
    color: white;
    width:100px;
    height: 30px;
    border:2px #3882F6 solid;
    border-radius: 8px;
}

/*information*/

.information{
    text-align: center;
}

.container{
    margin-top: 20px;
    display: flex;
    gap: 40px;
    justify-content: center;
}
.box{
    width: 115px;
    height: 115px;
    border:4px #3882F6 solid;
    border-radius: 8px;
    margin-bottom: 8px;
}
.item{
    width: 115px;
    text-align: center;
    font-size: small;
}

/*call*/
.quote{
    padding: 50px 250px;
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    flex-direction: column;
}
.quote p{
    font-style: italic;
    font-weight: 300;
}
.thor{
    align-self: flex-end;
    font-weight: 600;
}


/*call*/

.call{
    margin:100px 120px;
    padding: 50px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    background-color: #3882F6;
}
.call div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 32px;
}
.call button{
    border:2px white solid;
}

/*footer*/

 .footer{
    justify-content: center;
 }

