body{
    font-family: roboto, sans-serif;
    margin: 0;
}

.body{
    display: flex;
    flex-direction: column;
}
 .header,
 .footer,
 .hero{
    display: flex;
    background-color:#1F2937 ;
    padding:16px 80px;
    align-items: center;
 }

 .header,
 .footer {
        height: 25px;
 }

 .header,
 .hero{
    justify-content: space-between;
 }
 .footer{
    justify-self: flex-end;
    justify-content: center;
 }

ul{
    margin:0;
    list-style-type: none;
    display: flex;
    gap: 16px;
}
.header,.hero,.call,.footer{
    color:white;
}

.logo{
    font-size: 24px;
    color:#F9FAF8;
}
.left{
    width: 50%;
}
h1,h2,h3,h4,p{margin: 0;padding: 0;}
.hero{
    padding: 32px auto;
}

.box{
    width: 115px;
    height: 115px;
    border:4px rgb(53, 104, 255) solid;
    border-radius: 12px;
}
.item{
    width: 115px;
    text-align: center;
    font-size: small;
}
.container{
    display: flex;
    gap: 40px;
    justify-content: center;
}
.information{
    text-align: center;
}

.hero button{
    background-color: rgb(53, 104, 255);
    color: white;
    padding:8px 24px;
    border:0;
    border-radius: 12px;
}

.quote{
    padding: 100px 180px;
    background-color: #E5E7EB;
    color: #1F2937;
    font-style: italic;
    font-weight: 300;
}

.call button{
    background-color: rgb(53, 104, 255);
    color: white;
    padding:6px 22px;
    border:2px white solid;
    border-radius: 12px;
}
.call{
    margin:20px 40px;
    padding: 16px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    background-color: rgb(53, 104, 255);
}